html {
    font-family: Verdana;
    font-size: 1em;
}

body {
    background-color: ghostwhite;
}

#logo a {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 139px;
    text-decoration: none;
}

#welcomeWrapper {
    background-color: ghostwhite;
    border: 0.1em solid lightgrey;
    margin: 0px auto;
    width: 97%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
}

#welcomeBox {
    width:30em;
}

#welcome {
    font-size:1.3em;
    text-align: center;
}

#welcome-small {
    font-size:0.8em;
    text-align: center;
    color: lightslategrey;
}

.innercontentleft {
    background-color: honeydew;
    border: 0.1em solid mediumspringgreen;
    padding: 0.5em;
}

.innercontentleftheader {
    background-color: #CEF2E0;
    font-weight: bold;
    border: 0.1em solid lightgrey;
    padding-left:1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.innercontentrightheader {
    background-color: #CEDFF2;
    font-weight: bold;
    border: 0.1em solid lightgrey;
    padding-left:1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

}


.innercontentright {
    background-color: #F5FAFF;
    border: 0.1em solid #CEDFF2;
    padding: 0.5em;
}

.innercontentmiddle {
    background-color: honeydew;
    border: 0.1em solid mediumspringgreen;
    padding:1em;
}

.innercontentmiddleheader {
    background-color: #CEF2E0;
    font-weight: bold;
    border: 0.1em solid lightgrey;
    padding-left: 1em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

.innercontentmiddlebody {
}

.treenode {
    position: absolute;
   height: 4em;
}

.marriagejoin {
    float: left;
    width: 5em;
    border-top: thin solid;
    border-bottom: thin solid;
    height: 0.2em;
    position: relative;
    top: 0.8em;
}

.nodespace {
    float: left;
    width: 5em;
    height: 1em;
}

.fullname {
    background-color: #f0fff0;
    border-style: solid;
    border-width: thin;
    height: 4em;
    width: 10em;
}
.generation {
    clear: both;
}
.container {
    width: 100%;
}

.tree-container {
    height: 58em;
    width: 150em;
    overflow: visible;
    position: relative;
    font-size: 0.7em;
    font-weight: bold;
}

.form-label {
    display: block;
    width: 20em;
    font-size: 0.8em;
}

.mline {
    position: absolute;
    border-bottom: 0.1em solid #000000;
    border-top: 0.1em solid #000000;
    height: 0.4em;
    display: block;
}

div.person {
    width: 100%;
}

div.treenode .pline {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

div.treenode .pline .l1 {
    width: 0.1em;
    position: absolute;
    background-color: black;
    height: 50%;
}

div.treenode .pline .l2 {
    width: 0.1em;
    position: absolute;
    background-color: black;
    height: 0.1em;
}

div.treenode .pline .l3 {
    width: 0.1em;
    position: absolute;
    background-color: black;
    height: 25%;
    left: 50%;
}

.input-text {
    width: 10em;
    font-size: 0.8em;
}

.input-select {
    width: 10em;
    font-size: 0.8em;
}

.input-text-long {
    width: 30em;
    font-size: 0.8em;
}

.input-textarea {
    font-size: 0.8em;
}


label {
    font-size: 0.8em;
}


.errors {
    color: red;
    font-size: 0.8em;
}

a.treenode-link:link {text-decoration:none;}
a.treenode-link:visited {text-decoration:none;}
a.treenode-link:hover {text-decoration:underline;}
a.treenode-link :active {text-decoration:underline;}
