html {
    font-family: Verdana;
    font-size: 1em;
}

body {
    background-color: ghostwhite;
}

#logo a {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 139px;
    text-decoration: none;
}

#welcomeWrapper {
    background-color: ghostwhite;
    border: 0.1em solid lightgrey;
    margin: 0px auto;
    width: 97%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
}

#welcomeBox {
    width:30em;
}

#welcome {
    font-size:1.3em;
    text-align: center;
}

#welcome-small {
    font-size:0.8em;
    text-align: center;
    color: lightslategrey;
}

.innercontentleft {
    background-color: honeydew;
    border: 0.1em solid mediumspringgreen;
    padding: 0.5em;
}

.innercontentleftheader {
    background-color: #CEF2E0;
    font-weight: bold;
    border: 0.1em solid lightgrey;
    padding-left:1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.innercontentrightheader {
    background-color: #CEDFF2;
    font-weight: bold;
    border: 0.1em solid lightgrey;
    padding-left:1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

}


.innercontentright {
    background-color: #F5FAFF;
    border: 0.1em solid #CEDFF2;
    padding: 0.5em;
}

.innercontentmiddle {
    background-color: honeydew;
    border: 0.1em solid mediumspringgreen;
    padding:1em;
}

.innercontentmiddleheader {
    background-color: #CEF2E0;
    font-weight: bold;
    border: 0.1em solid lightgrey;
    padding-left: 1em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

.innercontentmiddlebody {
}

.treenode {
    float: left;
    width: 10em;
    background-color: #f0fff0;
    border-style: solid;
    border-width: thin;
}

.marriagejoin {
    float: left;
    width: 5em;
    background-image: dot.jpg; /* 1x1 px, whatever color u want */
    background-repeat: repeat-x;
    background-position: 0% 50%;

}

.nodespace {
    float: left;
    width: 5em;
}

.fullname {
    font-size: 0.7em;
    font-weight: bold;
}
.generation {
    clear: both;
}
.container {
    width: 100%;
}

.form-label {
    display: block;
    width: 20em;
    font-size: 0.8em;
}

.input-text {
    width: 10em;
    font-size: 0.8em;
}

.input-select {
    width: 10em;
    font-size: 0.8em;
}

.input-text-long {
    width: 30em;
    font-size: 0.8em;
}

.errors {
    color: red;
    font-size: 0.8em;
}